/*Neste primeiro bloco de comando estou configurando todod os elementos do meu site*/
* {
  padding: 0; /*tirando o padding de todos*/
  margin: 0;  /*tirando a margin de todos*/
  box-sizing: border-box; /*este eu utilizo para que o inputs não ultrapacem o limite de onde  estiverem*/
  font-family: "Open Sans", sans-serif; /*Font do google fonts que importei no meu index.html*/
}

html, body, #root {
  background-color: #efefefEF; /*Estou colocando uma cor de fundo padão*/
  height: 100%; /*Para o rodapé ficar colado no fundo da página*/
}
